



    .nav{
        background-color: rgb(57, 84, 235) ;
    
    }

    #nav a:hover{
      border-radius: 12px;
        background-color: rgb(57, 84, 235) ;  
    }

    #nav{
      margin-top: 20px;
      margin-left: 250px;
    }


    #intro{
        text-align: center;
        font-size: 20px;
      
      
      }
       
      /* favicon image */
      #fimg{
      
        position: absolute;
         margin-top: -1px; 
      margin-left:-80px; 
      height: 80px;
      width: 200px;
      
      }

      .paragraph{

        margin-top: 100px;
      padding-left: 100px;
      padding-right: 100px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
      line-height: 1.9;
      }
      
      

      .ww{
        height:180px ;
        width: 100%;
        
        
          text-align: center;
          font-size: 20px;
        
        
        }
        
        
        
        .box1{
        
          background-color: white;
          height: 200px;
        width: 280px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 41px;
        
        
        }
        
        #b1{
        position: absolute;
        margin-left: -30px;
        padding-top: 20px;
        
        
        }
        
        
        .box2{
        
          background-color: white;
          height: 200px;
          width: 280px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 41px;
        }
        
        
        #b2{
          position: absolute;
          margin-left: -30px;
          padding-top: 20px;
          
          
          }
          
        
        
        
        .box3{
        
          background-color: white;
          height: 200px;
          width: 280px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 41px;
        }
        
        
        #b3{
          position: absolute;
          margin-left: -30px;
          padding-top: 20px;
          
          
          }
          
        
        
        
        .box4{
        
          background-color: white;
          height: 200px;
          width: 280px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 41px;
        }
        
        #b4{
          position: absolute;
          margin-left: -30px;
          padding-top: 20px;
          
          
          }
        
        
        
        
        .box5{
        
          background-color: white;
          height: 200px;
        width: 280px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 41px;
        }
        
        
        #b5{
          position: absolute;
          margin-left: -30px;
          padding-top: 20px;
          
          
          }
        
        
        
        .box6{
        
          background-color: white;
          height: 200px;
          width: 280px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 41px;
        }
        
        
        
        #b6{
          position: absolute;
       margin-left: -30px;
          padding-top: 20px;
          text-align: center ;
          
          }

        
        
         

         
          
        .box20{
        
         
          height: 200px;
        width: 200px;
        margin-top: 10px;
        display: inline-block;
      margin-left: 40px;
        
        
        }
        
        #b20{
        position: absolute;
        margin-left: 50px;
        padding-top: 10px;
      height: 80px;  
      
        }

          
        .box24{
        
         
          height: 200px;
        width: 200px;
        margin-top: 10px;
        display: inline-block;
        margin-left: 40px;
        
        
        }
        
        #b24{
        position: absolute;
        margin-left: 50px;
        padding-top: 10px;
        height: 80px;
        
        
        }
        
        
        .box21{
        
          
          height: 200px;
          width: 200px;
        margin-top: 10px;
        display: inline-block;
        margin-left: 40px;
        }
        
        
        #b21{
          position: absolute;
          margin-left: 50px;
          padding-top: 10px;
          height: 80px;
          
          }
          
        
        
        
        .box22{
        
        
          height: 200px;
          width: 200px;
        margin-top: 10px;
        display: inline-block;
        margin-left: 40px;
        }
        
        
        #b22{
          position: absolute;
          margin-left: 50px;
          padding-top: 10px;
          height: 80px;
          }
          
.ad{
  color: white;
}